*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    box-sizing: border-box;
}
body{
    display: flex;
    overflow: hidden;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
}

form{
    flex-shrink: 1;
}

.leaf{
    position: relative;
    width: 40vw;
    height: 100vh;
    flex-shrink: 0;
}
h1{
    color: white;
}
.logo{
    width: 200px;
    height: 200px;
}
.logobackground{
    top: 25vh;
    width: 40vw;
    position: absolute;
    background-color: rgba(5, 5, 5,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header{
    padding: 100px;
    line-height: 2em;
}


legend{
    background-color: white;
    padding: 20px;
    margin-top: -50px;
    box-shadow: 0px -3px 5px -5px rgb(0, 0, 0);
}

.formheader{
    margin-left: 80px;
}
.headercaption{
    margin-top: -10px;
    margin-left: 80px;
}


.info{
    margin-top: -20px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding: 40px 20px;
    gap: 150px;
    box-shadow: 0px 3px 5px -5px rgb(0, 0, 0);
}

label{
    font-size: 24px;
}
input{
    font-size: 24px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus{
    border: 2px solid lightblue;
    outline: none;
    box-shadow: 0px 3px 10px rgb(41, 82, 41);
}

input:invalid{
    border: 2px solid red;
}

.leftblock,
.rightblock{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 80px;
}

button{
    background-color: #596D48;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 3px;
}

.login{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 100px;
}





